lab_5/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xsd:element name="ArrayOfPerson">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="Person">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Id" type="xsd:unsignedLong" />
							<xsd:element name="FirstName" type="xsd:string" />
							<xsd:element name="LastName" type="xsd:string" />
							<xsd:element name="Date" type="xsd:dateTime" />
							<xsd:element name="Phone" type="xsd:string" />
							<xsd:element name="City" type="xsd:string" />
							<xsd:element name="Street" type="xsd:string" />
							<xsd:element name="House" type="xsd:int" />
							<xsd:element name="Flat" nillable="true" type="xsd:int" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xs:schema>